:root {
	--header-background-top: #331C00;
	--header-background-bot: #593100;
	--header-background-gradient: linear-gradient(var(--header-background-top), var(--header-background-bot));
	--header-text-color: #F6FFFF;
	--main-background: #F6FFFF;
	--main-title-color: #593100;
	--main-title-color-sec: #331C00;
	--main-sec-color: #003300;
}

::selection {
	background-color: #AAAAAA;
}

html {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: row;
}

header {
	width: 40px;
	height: calc(100vh - 80px);
	margin: 0;
	padding: 40px 10px;
	background-image: var(--header-background-gradient);
}

main {
	width: calc(100vw - 80px);
	height: calc(100vh - 40px);
	margin: 0;
	padding: 20px 10px;
	background-color: var(--main-background);
	display: flex;
	flex-direction: column;
	gap: 0;
}

.menu-icon {
	position: relative;
	z-index: 1100;
	cursor: pointer;
}

.menu-icon svg {
	position: absolute;
	inset: 0;
}

header nav {
	position: absolute;
	left: 60px;
	top: 0px;
	z-index: 1000;
	height: calc(100vh - 80px);
	width: calc(100vw - 80px);
	margin: 0;
	padding: 40px 10px;
	background-image: var(--header-background-gradient);
}

header ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
	list-style: none;
}

header li {
	display: flex;
	flex-direction: flex;
}

header a {
	flex: 1;
	color: var(--header-text-color);
	font-family: 'Courier New';
	font-size: 30px;
	text-decoration: none;
}
header a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#page-title{
	margin: 0;
	width: calc(100% - 20px);
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#page-main-container {
	margin: 0;
	width: calc(100% - 20px);
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#page-title h1 {
	margin: 0;
	font-family: 'Courier New';
	font-size: 60px;
	color: var(--main-title-color);
}

#page-title h2 {
	margin: 0;
	font-family: 'Courier New';
	font-size: 50px;
	color: var(--main-title-color-sec);
}

#page-title hr {
	width: 100%;
	margin-bottom: 0;
}

#page-main-container {
	background-color: transparent;
	flex: 1;
	overflow: auto;
}

article h3 {
	margin: 0;
	font-family: 'Courier New';
	font-size: 35px;
	color: var(--main-title-color-sec);
}

article h4 {
	margin: 0;
	font-family: 'Courier New';
	font-size: 25px;
	color: var(--main-title-color-sec);
}

article ul {
	list-style: none;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

article li {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-family: 'Courier New';
	font-size: 20px;
	color: var(--main-title-color-sec);
}

article p {
	margin: 0;
	padding: 0 10px;
	gap: 5px;
	align-items: center;
	font-family: 'Courier New';
	font-size: 20px;
	color: var(--main-title-color-sec);
	text-align: justify;
}

.go-to-button {
	padding: 10px 20px;
	margin: 0;
	background-color: var(--main-sec-color);
	color: var(--main-background);
	font-family: 'Courier New';
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	width: min(260px, calc(100% - 40px));
	cursor: pointer;
}