html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	width: 100%;
	min-height: 150px;
	overflow: none;

	background-color: #131D4F;
}

.visible-header {
	width: 100%;
	height: 150px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: transparent;
}

header h1 {
	width: 50%;
	margin: 0 0 0 10px;
}

header h1 a {
	font-family: "Courier New";
	font-size: 35px;
	text-decoration: none;
	color: #FFFFFF;
}

.menu-icon {
	height: 50px;
	margin: 0 10px 0 0;
}

.cancel-icon {
	display: none;

	height: 50px;
	margin: 0 10px 0 0;
}

polygon {
	fill: #FFFFFF;
}

.hidden-menu {
	display: none;
	flex-direction: column;
}

nav {
	display: flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
}

nav a {
	margin-left: auto;
	margin-right: 10px;

	font-family: "Courier New";
	font-size: 25px;
	text-decoration: none;
	color: #FFFFFF;
}

.active {
	text-decoration: underline;
}

.copy-msg {
	position: fixed;
	padding: 5px;
	z-index: 9999;
	display: none;
	pointer-events: none;

	background-color: #254D70;
	opacity: 0.85;
	color: #ffffff;
	border: none;
	font-size: 25px;

	animation: fadein 0.2s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 0.85;}
}

hr {
	width: calc(100% - 20px);
	margin: 10px auto 10px auto;
	fill: #FFFFFF;
}

address {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

address p {
	margin-right: auto;
	margin-left: auto;
	font-family: "Courier New";
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

.socials-box {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
}

.socials-box a img {
	height: 40px;
}

main {
	flex: 1;
	height: calc(100% - 150px);
	margin: 0;
	overflow-y: auto;

	display: flex;
	flex-direction: column;

	background-color: #EFE4D2;
}

section {
	width: calc(100% - 40px);
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

article, aside {
	width: calc(100% - 20px);
	padding: 10px;

	background-color: #ffffff;
	border: none;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 5px;

	font-family: 'Courier New';
	font-size: 20px;
	color: #000000;
}

h2, h3, p {
	margin: 0;
}

ul {
	padding-inline-start: 20px;
	margin: 0;
}

button {
	margin-right: auto;
	padding: 5px;

	background-color: #254D70;
	border: none;
	border-radius: 2px;
	color: #ffffff;

	font-family: 'Courier New';
	font-size: 22px;

	cursor: pointer;
}

button:hover {
	background-color: #131D4F;
}

h1 {
	margin: 0;
	font-family: 'Courier New';
	font-size: 30px;
	color: #000000;
}

.title-div {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.title-div img {
	margin-left: auto;
	height: 30px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.arrow-icon.rotated {
	transform: rotate(180deg);
}

.hidden-content {
	width: 100%;
}

@media (min-width: 750px) {
	header{
		min-height: 75px;
	}

	.visible-header {
		height: 75px;
	}

	.hidden-menu {
		flex-direction: row-reverse;
		align-items: center;
	}

	.menu-hr {
		display: none;
	}

	address p {
		min-width: 300px;
		margin-left: 10px;
	}

	.socials-box {
		margin-left: 10px;
		justify-content: left;
	}

	main {
		height: calc(100% - 75px);
	}
}

@media (min-width: 1200px) {
	body {
		display: flex;
		flex-direction: row;
	}

	header {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.visible-header {
		margin-top: 100px;
		margin-bottom: 100px;
		height: auto;
	}

	header h1 {
		width: 100%;
	}

	header h1 a {
		font-size: 50px;
	}

	.menu-icon, .cancel-icon {
		display: none;
	}

	.hidden-menu {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: space-between;
	}

	nav a {
		margin-left: 10px;
		margin-right: auto;
	}

	main {
		height: 100%;
		width: calc(100% - 300px);
		flex-direction: row;
	}

	.aside-section {
		width: 250px;
	}

	aside {
		width: 230px;
	}
}